# -----------------------------------------------------------------
# bblean 1.17 - MENU FILE
# -----------------------------------------------------------------

# This file is modified to be used in WinPE environment

# Available menu commands are listed in the documentation.

[begin] (bbLean)
    [path] (Start) {STARTMENU|COMMON_STARTMENU}
    #[path] (Desktop) {DESKTOPDIRECTORY|COMMON_DESKTOPDIRECTORY}
    #[path] (Quick) {APPDATA\Microsoft\Internet Explorer\Quick Launch}
    [nop]
    [exec] (README) {notepad X:\README.md}
    #[exec] (Startnet.cmd) {X:\Windows\System32\cmd /k X:\Windows\System32\startnet.cmd}
    #[exec] (busybox shell) {X:\apps\my-cli-collection\busybox64u.exe sh -i}
    [exec] (busybox shell) {X:\Scripts\busybox-sh.cmd}
    [exec] (cmd) {X:\Windows\System32\cmd /k X:\Scripts\cmd_rc.cmd}
    [exec] (File Manager (Double Commander)) {X:\apps\doublecmd\doublecmd.exe}
    [exec] (Task Manager) {taskmgr.exe}
    [exec] (Process Monitor) {X:\apps\SysinternalsSuite\Procmon64.exe /accepteula}
    [exec] (Process Explorer) {X:\apps\SysinternalsSuite\procexp64.exe /accepteula}
    [exec] (SumatraPDF) {X:\apps\SumatraPDF\SumatraPDF-3.5.2-64.exe}
    [exec] (Image Viewer (JPEGView)) {X:\apps\JPEGView\JPEGView.exe}
    [exec] (Lightweight IDE (Geany)) {X:\apps\geany\bin\geany.exe}
    [path] (All Apps) {X:\apps}
    [nop]
    [submenu] (Utilities)
        [submenu] (File recovery)
            [exec] (TestDisk and PhotoRec) {cmd /k "cd /d X:\apps\testdisk-7.2"}
            [end]
        [exec] (Detect-It-Easy) {cmd /k "cd /d X:\apps\Detect-It-Easy"}
        [exec] (SysinternalsSuite) {cmd /k "cd /d X:\apps\SysinternalsSuite"}
        [exec] (Offline NT Password and Registry Editor) {cmd /k "cd /d X:\apps\chntpw_mingw64"}
        [end]
    # Paths with spaces should have quotes:
    # [exec] (Firefox) {"PROGRAM_FILES\Mozilla Firefox\firefox.exe"}
    [submenu] (System)
        [path] (My Computer) {DRIVES}
        #[path] (Personal) {PERSONAL}
        #[path] (Bitbucket) {BITBUCKET}
        #[path] (Controls) {CONTROLS}
        # Uncomment this line to check out all available system folders
        # [include] {shellfolders.rc}
        [run]  (Run)
        [end]
    [nop]
    [stylesmenu] (Styles) {styles}
    [submenu] (BlackBox)
        [config] (Configuration)
        [include] {plugins\bbLeanSkin\bbLeanSkinMenu.rc}
        [submenu] (About)
            [aboutstyle] (About Style)
            [aboutplugins] (About Plugins)
            [about] (About bbLean)
            [end]
        [submenu] (Edit)
            [editstyle] (Current Style)
            [editmenu] (menu.rc)
            [editblackbox] (blackbox.rc)
            [editextensions] (extensions.rc)
            [editplugins] (plugins.rc)
            [edit] (bbKeys.rc) {plugins\bbKeys\bbKeys.rc}
            [end]
        [nop]
        # Also note that relative paths refer to the blackbox directory
        [exec] (Documentation) {docs\bblean.htm}
        [exec] (Install/Uninstall) {bsetshell.exe}
        [exec] (bbStyleMaker) {bbstylemaker.exe}
        [nop]
        [reconfig] (Reconfigure)
        [restart] (Restart)
        [exit]  (Quit)
        [end]
    # Default windows shutdown commands won't work in WinPE
    # Use Wpeutil or psshutdown instead
    [submenu] (Goodbye)
    #     [lockworkstation] (Lock)
    #     [logoff] (Logoff)
    #     [suspend] (Standby)
    #     [reboot] (Reboot)
        [exec] (Reboot) {Wpeutil Reboot}
    #     [shutdown] (Shutdown)
        [exec] (Shutdown) {Wpeutil Shutdown}
        [end]
[end]
